/* font-family: 'Open Sans', sans-serif */

#iniciando {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: orange;
    text-align: center;
    padding: 23%;
}

#mapaPantallaUno {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: orange;
    text-align: center;
    /* display: none;*/
}

/* Mapa */

#map {
    height: 100%;
}